<section class="py-10">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-5 order-md-1" data-aos="fade-up">
				<h1 class="display-4 text-center text-md-left font-weight-bold">
					Let's Chat
				</h1>

				<p>
				Book a no-strings-attached discovery session to start unleashing the full power of your organization today.
				</p>

				<img src="@@webRoot/assets/img/boxd/culture-and-transformation-page/Video call_Monochromatic (3).png" class="img-fluid w-100" alt="..." data-aos="fade-up" data-aos-delay="100">
			</div>

			<div class="col-12 col-lg-7 order-md-2" data-aos="fade-up">
				<div class="card bg-primary">
					<div class="card-body text-white">
                                                <div id="contact-us-form"></div>
						<!--
						<div class="row">
							<div class="col-12 col-lg-6">
								<div class="form-group">
									<label>First Name*</label>
									<input type="text" class="form-control form-control-xs">
								</div>
							</div>

							<div class="col-12 col-lg-6">
								<div class="form-group">
									<label>Last Name*</label>
									<input type="text" class="form-control form-control-xs">
								</div>
							</div>

							<div class="col-12 col-lg-6">
								<div class="form-group">
									<label>Country Code</label>
									<input type="text" class="form-control form-control-xs">
								</div>
							</div>

							<div class="col-12 col-lg-6">
								<div class="form-group">
									<label>Phone Number*</label>
									<input type="text" class="form-control form-control-xs">
								</div>
							</div>

							<div class="col-12">
								<div class="form-group">
									<label>Work Email*</label>
									<input type="text" class="form-control form-control-xs">
								</div>
							</div>
							<div class="col-12">
								<label class="form-check-label" for="defaultCheck1">How can we help? (Check all that apply)</label>

								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
									<label class="form-check-label" for="defaultCheck1">
										Culture & Transformation
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
									<label class="form-check-label" for="defaultCheck1">
										Scalable Organizations
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
									<label class="form-check-label" for="defaultCheck1">
										Diversity, Equity, and Inclusion
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
									<label class="form-check-label" for="defaultCheck1">
										New Leader Integration
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
									<label class="form-check-label" for="defaultCheck1">
										Other Business Challenge
									</label>
								</div>

								<button type="submit" class="btn bg-secondary text-white btn-block mt-4">Submit</button>
							</div>
						</div>
						-->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="@@webRoot/assets/boxd/ContactUs.js"></script>
<script>
  var app = Elm.ContactUs.init({
    flags: "",
    node: document.getElementById('contact-us-form')
  });
</script>
