<footer class="py-8 py-md-11 @@classList">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 mob">

        <!-- Brand -->
        <img src="@@webRoot/assets/img/boxd/boxd-logo-new.png" class="navbar-brand-img" alt="...">

      </div>
      <div class="col-6 col-md-3">

        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          What We Solve For
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="@@webRoot/what-we-solve/culture-and-transformation.html" class="text-reset">
              Culture and Transformation
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/what-we-solve/scalable-organizations.html" class="text-reset">
              Scalable Organizations
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/what-we-solve/diversity-equity-and-inclusion.html" class="text-reset">
              Diversity, Equity and Inclusion
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/what-we-solve/new-leader-integration.html" class="text-reset">
              New Leader Integration
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-3">

        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          What We Do
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="@@webRoot/what-we-do/strategic-meeting-design-and-facilitation.html" class="text-reset">
              Strategic Meeting Design and Facilitation
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/what-we-do/organization-design.html" class="text-reset">
              Organization Design
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/what-we-do/team-acceleration.html" class="text-reset">
              Team Acceleration
            </a>
          </li>
          <li>
            <a href="@@webRoot/what-we-do/leader-development.html" class="text-reset">
              Executive and Leader Development
            </a>
          </li>
          <li>
            <a href="@@webRoot/what-we-do/discovery-and-insights.html" class="text-reset">
              Discovery and Insights
            </a>
          </li>
        </ul>

      </div>

      <div class="col-6 col-md-3">
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Who We Are
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="@@webRoot/who-we-are/about-us.html" class="text-reset">
              About Us
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/who-we-are/our-team.html" class="text-reset">
              Our Team
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/resources/team-playbook.html" class="text-reset">
              Play Book
            </a>
          </li>
        </ul>

        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Legal
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="@@webRoot/terms-of-service.html" class="text-reset">
              Terms of Service
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/privacy-policy.html" class="text-reset">
              Privacy Policy
            </a>
          </li>
        </ul>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>