<nav class="navbar navbar-expand-lg fixed-top shadow py-lg-3 py-1 @@classList">
  <div class="@@container">

    <!-- Brand -->
    <a class="navbar-brand" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/img/boxd/boxd-logo.png" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link px-4 dropdown-toggle text-white d-none d-lg-block" data-toggle="dropdown" href="#"
            aria-haspopup="true" aria-expanded="false">
            What We Solve For
          </a>
          <a class="nav-link px-4 dropdown-toggle d-lg-none" aria-expanded="false">
            What We Solve For
          </a>
          <div class="dropdown-menu dropdown-menu-md p-0" aria-labelledby="navbarLandings">
            <div class="row no-gutters">
              <div class="col-12">
                <div class="dropdown-body">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <!-- List -->
                      <a class="font-weight-bold dropdown-item text-secondary"
                        href="@@webRoot/what-we-solve/culture-and-transformation.html">
                        Culture and Transformation
                      </a>
                      <p>Match your culture to your strategy to accelerate performance.</p>

                      <div class="dropdown-divider"></div>

                      <a class="font-weight-bold dropdown-item text-secondary"
                        href="@@webRoot/what-we-solve/scalable-organizations.html">
                        Scalable Organizations
                      </a>
                      <p>Build organizations ready for rapid growth.</p>

                      <div class="dropdown-divider"></div>

                      <a class="font-weight-bold dropdown-item text-secondary"
                        href="@@webRoot/what-we-solve/diversity-equity-and-inclusion.html">
                        Diversity, Equity and Inclusion
                      </a>

                      <p>Go beyond bias training to make lasting change.</p>

                      <div class="dropdown-divider"></div>

                      <a class="font-weight-bold dropdown-item text-secondary"
                        href="@@webRoot/what-we-solve/new-leader-integration.html">
                        New Leader Integration
                      </a>

                      <p class="mb-0">Unlock leadership potential to unlock limitless impact.</p>
                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link px-4 dropdown-toggle text-white d-none d-lg-block" data-toggle="dropdown" href="#"
            aria-haspopup="true" aria-expanded="false">
            What We Do
          </a>
          <a class="nav-link px-4 dropdown-toggle d-lg-none" aria-expanded="false">
            What We Do
          </a>
          <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarPages">
            <div class="row no-gutters">
              <div class="col-6">
                <div class="row no-gutters">
                  <div class="col-12">
                    <a class="font-weight-bold dropdown-item text-secondary"
                      href="@@webRoot/what-we-do/strategic-meeting-design-and-facilitation.html">
                      Strategic Meeting Design and Facilitation
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="font-weight-bold dropdown-item text-secondary"
                      href="@@webRoot/what-we-do/organization-design.html">
                      Organization Design
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="font-weight-bold dropdown-item text-secondary"
                      href="@@webRoot/what-we-do/team-acceleration.html">
                      Team Acceleration
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="font-weight-bold dropdown-item text-secondary"
                      href="@@webRoot/what-we-do/leader-development.html">
                      Executive and Leader Development
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="font-weight-bold dropdown-item text-secondary"
                      href="@@webRoot/what-we-do/discovery-and-insights.html">
                      Discovery and Insights
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- / .row -->
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link px-4 dropdown-toggle text-white d-none d-lg-block" data-toggle="dropdown" href="#"
            aria-haspopup="true" aria-expanded="false">
            Who We Are
          </a>
          <a class="nav-link px-4 dropdown-toggle d-lg-none" aria-expanded="false">
            Who We Are
          </a>
          <div class="dropdown-menu dropdown-menu-md p-0" aria-labelledby="navbarLandings">
            <div class="row no-gutters">
              <div class="col-12">
                <div class="dropdown-body">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <!-- List -->
                      <a class="font-weight-bold dropdown-item text-secondary"
                        href="@@webRoot/who-we-are/about-us.html">
                        About Us
                      </a>
                      <p>Our mission, vision and who we are</p>

                      <div class="dropdown-divider"></div>

                      <a class="font-weight-bold dropdown-item text-secondary"
                        href="@@webRoot/who-we-are/our-team.html">
                        Our Team
                      </a>
                      <p>Managing team and partner consultants</p>
                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link px-4 dropdown-toggle text-white d-none d-lg-block" data-toggle="dropdown" href="#"
            aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <a class="nav-link px-4 dropdown-toggle d-lg-none" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu dropdown-menu-md p-0" aria-labelledby="navbarLandings">
            <div class="row no-gutters">
              <div class="col-12">
                <div class="dropdown-body">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <!-- List -->
                      <a class="font-weight-bold dropdown-item text-secondary"
                        href="@@webRoot/resources/how-to-reset-a-fatigued-team.html">
                        How to reset a fatigued team
                      </a>
                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link px-4 text-white" href="/join-us/index.html" aria-haspopup="true" aria-expanded="false">
            Join Us
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link px-4 dropdown-toggle text-white" id="navbarDocumentation" href="/contact.html"
            aria-haspopup="true" aria-expanded="false">
            Connect With Us
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>